{% extends "bootstrap/base.html" %}
{%import 'bootstrap/wtf.html' as wtf%}
{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='auth/signin.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='auth/login.css')}}">
<link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
          {% for message in get_flashed_messages() %}
          <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
          </div>
      {% endfor %}

      <div class="col-md-6 login-form w3">
		<div class="signin-form profile">
      <form class="form-signin" method="POST" name="form1" id="form1" action="{{url_for('auth.login')}}">
       <h1 class="form-signin-heading">Sign in</h1>
        {{ login_form.hidden_tag() }}
        {{wtf.form_field(login_form.username)}}
        {{wtf.form_field(login_form.email)}}
        {{wtf.form_field(login_form.password)}}
        {{wtf.form_field(login_form.remember)}}
        <input  type="submit" value="Sign In">
      </form>
    </div>
    </div>




  <div class="agile col-md-6">
    <div class="signin-form profile">
      <form class="form-signin" method="POST" action="{{url_for('auth.register')}}">
        <h1 class="form-signin-heading">Sign Up</h1>
        <div class="login-form">
        {{ registration_form.hidden_tag() }}
        {{wtf.form_field(registration_form.firstname)}}
        {{wtf.form_field(registration_form.lastname)}}
        {{wtf.form_field(registration_form.name)}}
        {{wtf.form_field(registration_form.email)}}
        {{wtf.form_field(registration_form.password)}}
        {{wtf.form_field(registration_form.password_confirm)}}
        <input  type="submit" value="REGISTER">
        </div>
      </form>
    </div>
    </div>
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

 <style>
  body{
    background: #0a4981;
    color: white;
    background-image: url('../static/bg1.jpg')
  }
 </style>

</div>
</div> <!-- /container -->
{% endblock %}