{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='auth/signin.css')}}">
{% endblock %}
{% block content %}

<div class="container">
    <h3 class="text-center">Dashboard</h3>
    <!-- Button trigger modal -->
    {% for message in get_flashed_messages() %}
          <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
          </div>
      {% endfor %}
      <div class="row">
        <div class="col-md-2">
           <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#myModal">
        Create Event
    </button>
        </div>
        <div class="col-md-8">
        Current events
        {% if events%}
        <table class="table table-bordered">
           <tr>
                <th>Name of event</th>
                <th>Location</th>
                <th>Status</th>
                <th>Persons</th>
                <th></th>
           </tr>
            {%for event in events%}
               <tr>

                  <td>{{event.name}}</td>
                  <td>{{event.location}}</td>
                  <td>{{event.description}}</td>
                  <td>{{event.p_count}}</td>
                  <td>
                  <a href="{{url_for('dashboard.editEvent',id = event.id)}}" class="btn btn-sm btn-success">Edit</a>
                  <a href="{{url_for('dashboard.single',id = event.id)}}" class="btn btn-sm btn-primary">View</a>
                  </td>
              </tr>
           {%endfor%}
          </table>

    {%else%}
    <h4 class="text-center">You currently do not have any registered event. Register an event <a href="#" data-toggle="modal" data-target="#myModal">here</a></h4>
    {%endif%}

        </div>
      </div>




</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Create New Event</h4>
            </div>
            <div class="modal-body">
                <p>{{ wtf.quick_form(event_form) }}</p>
                {{simplemde.load}}
            </div>

        </div>
    </div>
</div>

{% endblock %}
