{% extends 'base.html' %} 
{% import 'bootstrap/wtf.html' as wtf%}
{% block content %}

{%block scripts%}
{{super()}}
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    $(function () {
        $(".dtpick").datepicker();
    });
</script>
{%endblock%}
<div class="container">
    <h1 class="text-center">Dashboard</h1>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Create Event
    </button>
<table class="table table-bordered">
   <tr>
       <th>Name of event</th>
    <th>Location</th>
<th>description</th>
<th>Persons</th>
<th></th>
   </tr>
   {%for event in events%}
   <tr>
       
<td>{{event.name}}</td>
<td>{{event.location}}</td>
<td>{{event.description}}</td>
<td>{{event.p_count}}</td>
<td>
<a href="{{url_for('dashboard.editEvent',id = event.id)}}" class="btn btn-sm btn-success">Edit</a>
</td>
   </tr>
   {%endfor%}
</table>

</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Create New Event</h4>
            </div>
            <div class="modal-body">
                <p>{{ wtf.quick_form(event_form) }}</p>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}