{% extends 'bootstrap/base.html'%}

{%block styles%}
  {{super()}}

  <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/skel.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/util.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>

  <!--Importing the simple mde css and js files  -->
  {{ simplemde.css}}
  {{ simplemde.js }}
{%endblock%}

{% block navbar %}
  {%include 'navbar.html'%}
{%endblock%}
